<.simple_form :let={f} for={@changeset} action={@action} multipart>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:file_path]} type="file" label="File path" required/>
  <:actions>
    <.button>Save Document</.button>
  </:actions>
</.simple_form>
